.container {
  position: relative;
  display: block;
  background-color: #1c1f23;
  color: #a8a8a8;
  margin: 0 20px;
  border-radius: 15px;
  height: 100px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 2px 2px #1c1f23c0;
}

.img_container {
  position: relative;
  float: left;
  height: 100%;
}

.img_time {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-color: black;
  opacity: .6;
  color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 0 1px 1px black;
}

.item_container {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  padding-right: 15px;
}

.item_container * {
  display: inline-block;
}

.item_container img{
  height: 100%;
  width: 140px;
  border-radius: 15px 0 0 15px;
}

.close {
  position: absolute;
  left: 5px;
  top: 5px;
  color: #a8a8a8;
}

.info {
  height: 100%;
  float: left;
  padding: 8px;
  max-width: 70%;
  overflow: hidden;
}

.info_div {
  margin-bottom: 3px;
  white-space: nowrap;
}

.info_div svg{
  margin-left: 5px;
  margin-right: 15px;
  transform: translateY(15%);
}

.info_div div {
  font-size: 20px;
}

.info_div div {
  word-break: keep-all;
  white-space: nowrap;
}

.progressBar {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translate( 50%, -50%);
  box-shadow: 0 0 5px 5px #171b1e;
  border-radius: 100%;
}

.progressBar svg {
  display: block;
}

.btnIcon {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translate( 50%, -50%);
  cursor: pointer;
  background-color: #eba576;
  color: #1c1f23;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}

.btnIcon svg{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}