.progress_container {
  width: 100%;
  height: 12px;
  border: 3px solid #1c1f23;
  background-color: #1c1f23;
  border-radius: 10px;
  margin-top: 20px;
}

.progress {
  position: relative;
  transition: 1s ease-in-out all;
  width: 0%;
  height: 100%;
  border: 1px solid #eba576;
  background-color: #eba576;
  border-radius: 15px;
}

.progress_text {
  position: absolute;
  right: 0;
  top: 100%;
  transform: translate(50%, 20%);
}