.hint_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.items::-webkit-scrollbar {
	width: 10px;
	background-color: #272c31
}
 
.items::-webkit-scrollbar-thumb {
	background: #1c1f23; 
	border-radius: 5px;
}

.items::-webkit-scrollbar-thumb:hover{
	background: #eba576; 
}

.navbar {
	position: fixed;
	height: 25px;
	width: 100%;
	background-color: #1c1f23;
	-webkit-app-region: drag;
	z-index: 100;
}

.items {
	padding-top: 20px;
	height: calc(100% - 125px);
  overflow-y: auto;
}

.menu {
	display: inline-block;
	position: relative;
	height: 100px;
	width: 100%;
	background-color: #1c1f23;
	margin-top: 25px;
}

.btnOptions {
	display: inline-block;
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translate(0, -50%);
	text-align: center;
	cursor: pointer;
}

.btnOptions svg, .btnDownload svg{
	display: block;
	margin: 0 auto;
}

.btnDownload {
	display: inline-block;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translate(0, -50%);
	text-align: center;
	cursor: pointer;
}

.appName {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.buttons {
	position: relative;
	display: inline-block;
	height: 100%;
	float: right;
	width: 100px;
	-webkit-app-region: no-drag;
}

.buttons div {
	position: relative;
	float: right;
	width: 33%;
	height: 100%;
}

.buttons div svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}