* { 
  box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

@import url('https://fonts.googleapis.com/css?family=Iceland');

body, html {
  color: #a8a8a8;
  background-color: #272c31;
  font-family: 'Iceland';
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

#app {
  height: 100%;
}